*
!.gitignore
!waybar/
!waybar/*
!swaync/
!swaync/*
!rofi/
!rofi/*
!rofi/scripts/*
!rofi/themes/*
!hypr/
!hypr/*
!nwg-look/
!nwg-look/*
!gtk-3.0/
!gtk-3.0/*
!gtk-4.0/
!gtk-4.0/*
!qt5ct/
!qt5ct/*
!qt5ct/colors/*
!qt6ct/
!qt6ct/*
!qt6ct/colors/*
!kitty/
!kitty/*
!waypaper/
!waypaper/*
!xsettingsd/
!xsettingsd/*
